// Custom styles.

$themeColor = #5599ec;
$bgColor = #293d54;

.site-meta,.headband {
  background-color: $bgColor !important;
}
.posts-collapse .post-header:hover {
  // border-bottom-color: $themeColor !important;
  color: $themeColor !important;
  // &::before {
  //   background: $themeColor !important;
  // }
  .post-title a {
    color: $themeColor !important;
  }
}
body {
  background-color: #ececec !important;
}